@page "/credit"

<div class="title">
    <img src="/img/Tetris_Title.png">
</div>

<div class="phone_outline">
    <img class="phone" src="/img/iphone_x.png">
    <div class="background">
        <img class="background_b" src="/img/background.png">
        <div class="tetris_button">
            <a class="tetris_link" href="https://tetris.com/play-tetris">
                <img src="/img/button_tetris_link.png" alt="button_tetris_link">
            </a>
        </div>
        <div class="test">
            <pre class="student_text">
                Ceci est un projet réalisé par 4 étudiants
                    de l'école Ynov Nantes Campus.
            </pre>
            <div class="tool">
                <h5>Outils utilisés</h5>
                <ul>
                    <li>Visual Studio Code</li>
                    <li>Framework Blazor</li>
                    <li>Langage de programmation</li>
                    <ul>
                        <li>C#</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                    <li>Organisation</li>
                    <ul>
                        <li>Notion</li>
                    </ul>
                    <li>Communication</li>
                    <ul>
                        <li>Discord</li>
                    </ul>
                </ul>
            </div>
            <div class="member">
                <h5>Membre du groupe : </h5>
                <ul>
                    <li>Ahlonsou Gracieux</li>
                    <li>Clavier Arnaud</li>
                    <li>Dumont Elouan</li>
                    <li>Guyodo Kévin</li>
                </ul>
            </div>
        </div>

    </div>
    <a href="/accueil"><img class="back" src="/img/BackBtn.png"></a>
</div>