.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone_outline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone {
    height: 750px;
    width: 750px;
    z-index: 2;
}

.background {
    position: relative;
    top: -726px;
    right: 3px;
}

.background_b {
    height: 710px;
    width: 350px;
    border-radius: 37px;
}

.back {
    position: relative;
    top: -1380px;
    right: 260px;
    height: 90px;
    z-index: 10;
}

.down {
    position: relative;
    top: -1880px;
    right: 260px;
    height: 90px;
    z-index: 10;
}

.left {
    position: relative;
    top: -1880px;
    right: 260px;
    height: 90px;
    z-index: 10;
}

.right {
    position: relative;
    top: -1880px;
    right: 260px;
    height: 90px;
    z-index: 10;
}


/* .grid {
    color: red;
} */

.grid {
    position: relative;
    top: -660px;
    left: 24px;
}

.notetromino {
    height: 30px;
    width: 30px;
    background-color: rgba(128, 128, 128, 0.397);
    border: 1px solid black;
}

.tetrominoBlock {
    height: 30px;
    width: 30px;
    background-color: yellow;
    border: 1px solid black;
}

.tetrominoLetterJ {
    height: 30px;
    width: 30px;
    background-color: blue;
    border: 1px solid black;
}

.tetrominoLetterL {
    height: 30px;
    width: 30px;
    background-color: orange;
    border: 1px solid black;
}

.tetrominoLetterS {
    height: 30px;
    width: 30px;
    background-color: green;
    border: 1px solid black;
}

.tetrominoLetterT {
    height: 30px;
    width: 30px;
    background-color: purple;
    border: 1px solid black;
}

.tetrominoLetterZ {
    height: 30px;
    width: 30px;
    background-color: red;
    border: 1px solid black;
}

.tetrominoLine {
    height: 30px;
    width: 30px;
    background-color: cyan;
    border: 1px solid black;
}