@page "/game"
@using System;
@using Project_Tetris_cs.Data;
@using Project_Tetris_cs.Data.Piece;

@code {
    Grid grid = new Grid(20, 10);

    Tetris tetrisPiece = new Tetris();



    @* string testResult; *@

    public bool placePiece(int indexRow, int indexColumn) {
        bool result = false;
        for (int indexshape = 0; indexshape < tetrisPiece.block.shape.Length; indexshape++) {
            if (grid.finallyGrid[indexRow, indexColumn] == tetrisPiece.block.shape[indexshape]) {
                result = true;;
            }
        
        }
        return result;
    }

}

<div class="title">
    <img src="/img/Tetris_Title.png">
</div>

<div class="phone_outline">
    <img class="phone" src="/img/iphone_x.png">
    <div class="background">
        <img class="background_b" src="/img/background.png">
        <div class="grid">
            <div class="tetris-container" tabindex="0">
                @for (int indexRow = grid.row-1; indexRow >= 0; indexRow--)
                {
                    <div class="tetris-row">
                        @for (int indexColumn = 0; indexColumn < grid.column; indexColumn++)
                        {
                            @if (placePiece(indexRow, indexColumn)) {
                                <td class="tetromino">@grid.finallyGrid[indexRow, indexColumn]</td>
                            } else {
                                <td class="notetromino">@grid.finallyGrid[indexRow, indexColumn]</td>
                            }
                        }
                    </div>
                }
            </div>
            
        </div>
    </div>
    <a href="/accueil"><img class="back" src="/img/BackBtn.png"></a>

    <div class="row">
        <div class="col">
            <div class="tetris-container" tabindex="0">
            </div>
        </div>
    </div>
</div>