@page "/game"

<div class="title">
    <img src="/img/Tetris_Title.png">
</div>

<div class="phone_outline">
    <img class="phone" src="/img/iphone_x.png">
    <div class="background">
        <img class="background_b" src="/img/background.png">
    </div>
    <a href="/accueil"><img class="back" src="/img/BackBtn.png"></a>

    <div class="row">
        <div class="col">
            <div class="tetris-container" tabindex="0">
            </div>
        </div>
    </div>
</div>