@page "/"

<div class="title">
    <h1 class="title_h1">Bienvenue sur</h1>
    <img src="/img/Tetris_Title.png">
</div>

<div class="phone_outline">
    <img class="phone" src="/img/iphone_x.png">
    <div class="phone_background">
        <img class="phone_b" src="/img/iphone_x_background.png">
        <div class="icone">
            <a href="/accueil"><img class="icone_b" src="/img/tetris_logo.png"></a>
        </div>
        <p class="tetris_name">Tetris</p>
    </div>
</div>


