@page "/option"

<div class="title">
    <img src="/img/Tetris_Title.png">
</div>

<div class="phone_outline">
    <img class="phone" src="/img/iphone_x.png">
    <div class="background">
        <img class="background_b" src="/img/background.png">
        <div class="speed">
            <img class="speed_b" src="/img/speed.png">
        </div>
        <div class="normal">
            <button><img class="normal_b" src="/img/Normal.png"></button>
        </div>
        <div class="slow">
            <button><img class="slow_b" src="/img/slow.png"></button>
        </div>
        <div class="fast">
            <button><img class="fast_b" src="/img/fast.png"></button>
        </div>
        <div class="grid">
            <img class="grid_b" src="/img/Grid.png">
        </div>
        <div class="select_">
            <select name="height">
                <option value="baseH">20</option>
                <option value="">Other</option>
                <option value="">Other</option>
            </select>
            <select name="width">
                <option value="baseW">10</option>
                <option value="">Other</option>
                <option value="">Other</option>
            </select>
        </div>
    </div>
        <a href="/accueil"><img class="back" src="/img/BackBtn.png"></a>
</div>